<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员管理主页</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/single/dashboard.css">
    <script src="../static/js/vendor/jquery-slim.min.js"></script>
    <script>
        function getParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return decodeURI(r[2]);   //对参数进行decodeURI解码
            return null;
        }


        $(function() {
            var val1 = getParam("username");
            var val2 = getParam("password");
            $('#value1').html(val1);
            $('#value2').html(val2);
        });
    </script>
</head>
<body>
    <!--<div class="container">
        <div>
            &lt;!&ndash;<div>
                <b id="value1"></b>
            </div>&ndash;&gt;
            <br/>
            <div>
                <b id="value2"></b>
            </div>
        </div>
    </div>-->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" id="value1"></a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">登出</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                用户信息管理 <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                用户权限管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                               友情链接管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                新闻管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                文档管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="row">
                    <div class="col-md-9 ml-sm-auto col-lg-10">
                        <h2>用户信息查询</h2>
                    </div>
                    <div class="col-md-3 ml-sm-auto col-lg-2">
                        <button type="button-right" class="btn btn-secondary">增加</button>
                    </div>
                </div>
          <!--      <h2>用户信息查询</h2> <button type="button" class="btn btn-secondary">增加</button>-->
                <div class="table-responsive">
                    <table class="table table-striped "><!--table-sm-->
                        <thead>
                        <tr>
                            <th>用户编号</th>
                            <th>用户名称</th>
                            <th>用户密码</th>
                            <th>用户职位</th>
                            <th>用户信息</th>
                            <th>用户信息修改</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>001</td>
                            <td>cyx</td>
                            <td>123456</td>
                            <td>管理员</td>
                            <td>略</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">修改</button>
                                <button type="button" class="btn btn-primary btn-sm">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>test</td>
                            <td>123456</td>
                            <td>职工</td>
                            <td>略</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">修改</button>
                                <button type="button" class="btn btn-primary btn-sm">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>003</td>
                            <td>guest</td>
                            <td>123456</td>
                            <td>游客</td>
                            <td>略</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">修改</button>
                                <button type="button" class="btn btn-primary btn-sm">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</body>
</html>